body {
    background: rgb(240, 240, 240);
}

header {
    background: rgb(0, 0, 0);
    padding: 10px;
}

.seção-01 {
    color: rgb(0, 0, 0);
}

.seção-02 {
    color: rgb(0, 0, 0);
}

.seção-03 {
    color: rgb(0, 0, 0);
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

#area-menu {
    color: white;

}